<div class="w-100 d-flex justify-content-center align-items-center" style="height: 100vh; position: fixed;">
    <div class="card">
        <div class="card-header">
            Iniciar sesión
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo</label>
                    <input type="text" formControlName="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
            </form>
        </div>
    </div>
</div>