<div class="bg-gray-800 min-h-dvh min-w-full flex justify-center items-center">
    <div class="mt-5 border-1 border-gray-500" style="max-width: 90%; margin: auto;">
        <div class="flex my-5 w-full">
            <h2 class="mx-auto text-white">ELIJE TU CANDIDATO</h2>
        </div>
        <div class="grid grid-cols-4 mb-5">
            @for(candidate of candidates; track candidate.id){
            <div class="col mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="preselectCandidate(candidate)">
                @if (candidate) {
                <div class="d-flex justify-content-center">
                    <img [src]="obtainImage(candidate.imageName)" class="w-44 h-44 rounded-full mx-auto object-cover"
                        alt="Imagen del candidato">
                </div>
                }
                <h2 class="fw-normal text-2xl text-center text-white">{{candidate.name}}</h2>
            </div>
            }
        </div>
    </div>

    <div class="modal fade bg-gray-800" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog bg-gray-800">
            <div class="modal-content">
                <div class="modal-header bg-gray-800">
                    <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">CONFIRMACIÓN DE VOTO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-gray-800">
                    <div class="grid grid-cols-3 bg-gray-800">
                        @if(showModal) {
                        <img [src]="obtainImage(preselectedCandidate.imageName)"
                            class="w-24 h-24 col-span-1 rounded-full mx-auto object-cover" alt="Imagen del candidato">
                        <div class="col-span-2">
                            <h2 class="text-white">¿Está seguro de votar por {{preselectedCandidate.name}}?</h2>
                        </div>
                        }
                    </div>
                </div>
                <div class="flex gap-8 p-3 bg-gray-800 justify-center items-center">
                    <button type="button" class="px-4 btn btn-secondary w-100" data-bs-dismiss="modal">Volver</button>
                    <button type="button" class="px-4 btn btn-primary w-100" data-bs-dismiss="modal"
                        (click)="vote(preselectedCandidate)">Votar</button>
                </div>
            </div>
        </div>
    </div>
</div>